<div ng-controller="List2Controller as list2">
	<form name="newItemForm" ng-submit="newItemForm.$valid && list2.addItem(list2.input)" class="table-view-cell" novalidate ng-model="item.new">
		<input type="text" placeholder="Add Item" ng-minlength="3" ng-model="list2.input" required>
		<button class="btn btn-positive">ADD</button>
	</form>

	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell" ng-repeat="item in list2.items track by $index">
				<a ng-click="list2.toggle($index)">{{ item.task }} <span class="media-object pull-left icon {{ item.status }}"></span></a>
				<button ng-click="list2.removeItem($index)" class="btn btn-negative">Remove</button>
			</li>
		</ul>
	</div>
</div>